#map {
  display: none;
  height: 500px;
  width: 100%;
}
#main-form {
  display: block;
  padding: 20px;
  border: 2px solid black;
}
input {
  margin: 5px;
}
button {
  padding: 10px;
  font-size: 15px;

  background-color: rgb(183, 183, 224);
  margin: 5px;
}
